.calendar-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  margin: auto;
  margin-bottom: 25px;
}

.week-day-header {
  background: rgba(178, 191, 215, 0.9);
  border: 1px solid black;
  height: 5%;
}

.grid-cell {
  width: calc(12% - 10px);
  padding: 8px;
  font-weight: bold;
}

.calendar-day {
  display: flex;
  position: relative;
  border: 1px solid black;
  padding-top: 6%;
}

.unbooked:hover {
  background-image: url('../assets/book.png');
  background-repeat: no-repeat;
  background-color: white;
  background-size: contain;
  cursor: pointer;
}

.booked {
  background-image: url('../assets/booked.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
}

.booked:hover {
  background-image: url('../assets/un-book.png');
  cursor: pointer;
}

.today {
  background: #d7e2f4;
}

.disabled {
  cursor: default;
  font-weight: normal;
  opacity: 0.5;
}

.disabled.booked:hover {
  background-image: url('../assets/booked.png');
  cursor: default;
}

.sunday {
  color: red;
  opacity: 0.7;
}

.sunday.booked:hover {
  background-image: url('../assets/booked.png');
  cursor: default;
}


@media screen and (max-width: 600px) {

  .week-day-header {
    display: none;
  }

  .grid-cell {
    width: 60%;
  }
  
  .calendar-day {
    margin: auto;
    padding: 10px;
    display: block;
  }

  .calendar-day-disabled {
    display: none;
  }

}

