.nav-header {
  position: fixed;
  left: 0;
  top: 12%;
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: 'white';
  color: 'black';
  font-weight: bold;
}

.block-link {
  color: black;
  text-decoration: none;
  border-radius: 12px;
  padding: 6px;
  -webkit-transition-duration: 0.2s; 
  transition-duration: 0.2s;
  margin: 5px;
  cursor: pointer;
}

.block-link:hover {
  background-color: rgba(40, 83, 158, 0.9);
  color: white;
}

.center {
  width: 50%;
  font-size: 1.3rem;
  order: 2;
}

.prev {
  order: 1;
}

.next {
  order: 3;
}


@media screen and (max-width: 600px) {

  .nav-header {
    flex-wrap: wrap;
  }

  .center {
    width: 100%;
    order: 1;
  }

  .prev {
    order: 2;
  }

  .next {
    order: 3;
  }

}